A:visited {
	
}
A:hover {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A:active {
	COLOR: #ff0000; TEXT-DECORATION: underline
}
A.bar {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #333366; VERTICAL-ALIGN: baseline; COLOR: #ffffff; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
A.bar:visited {
	FONT-WEIGHT: bold; BACKGROUND: #333366; COLOR: #ffffff
}
A.bar:hover {
	FONT-WEIGHT: bold; BACKGROUND: #333366; COLOR: #ffffaa; TEXT-DECORATION: underline
}
A.bar:active {
	FONT-WEIGHT: bold; COLOR: #ffff80; TEXT-DECORATION: underline
}
BODY {
	FONT-SIZE: 100%; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
H1 {
	MARGIN-TOP: 2px; FONT-SIZE: 130%; MARGIN-BOTTOM: 2px; LINE-HEIGHT: normal; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H2 {
	MARGIN-TOP: 2px; FONT-WEIGHT: normal; FONT-SIZE: 115%; MARGIN-BOTTOM: 2px; FONT-FAMILY: Arial, Helvetica, sans-serif
}
H3 {
	MARGIN-TOP: 2px; FONT-WEIGHT: bold; FONT-SIZE: 105%; MARGIN-BOTTOM: 2px
}
H4 {
	FONT-WEIGHT: normal; FONT-SIZE: 100%; MARGIN-BOTTOM: 2px; FONT-STYLE: italic
}
HR.gray-hr {
	MARGIN-BOTTOM: 0px; COLOR: #eeeeee; HEIGHT: 2px
}
TD {
	VERTICAL-ALIGN: top; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.blackborder-td {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}
.eightypercent {
	FONT-SIZE: 80%
}
.fiftypercent {
	FONT-SIZE: 50%
}
.fortypercent {
	FONT-SIZE: 40%
}
.grayborder-td {
	BORDER-RIGHT: #eeeeee 1px solid; BORDER-TOP: #eeeeee 1px solid; BORDER-LEFT: #eeeeee 1px solid; BORDER-BOTTOM: #eeeeee 1px solid
}
.graycellredruled2-td {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px; BORDER-LEFT: 0px solid; BORDER-BOTTOM: #dd0000 2px solid; BACKGROUND-COLOR: #eeeeee
}
.graycellredruled-td {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px; BORDER-LEFT: 0px solid; BORDER-BOTTOM: #dd0000 1px solid; BACKGROUND-COLOR: #eeeeee
}
.grayruled2-td {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px; BORDER-LEFT: 0px solid; BORDER-BOTTOM: #eeeeee 2px solid
}
.grayruled3-td {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px; BORDER-LEFT: 0px solid; BORDER-BOTTOM: #eeeeee 3px solid
}
.grayruled-td {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px; BORDER-LEFT: 0px solid; BORDER-BOTTOM: #eeeeee 1px solid
}
.greycell {
	BACKGROUND-COLOR: #eeeeee
}
.linkbar {
	VERTICAL-ALIGN: middle; COLOR: #ffffff; BACKGROUND-COLOR: #333366
}
.linkbarsmall {
	MARGIN-TOP: 0px; FONT-WEIGHT: normal; FONT-SIZE: 12px; VERTICAL-ALIGN: top; COLOR: #ffffff; PADDING-TOP: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #333366
}
.ninetypercent {
	FONT-SIZE: 90%
}
.pagebar {
	VERTICAL-ALIGN: bottom; BACKGROUND-COLOR: #cc3333
}
.redborder-td {
	BORDER-RIGHT: #cc3333 1px solid; BORDER-TOP: #cc3333 1px solid; BORDER-LEFT: #cc3333 1px solid; BORDER-BOTTOM: #cc3333 1px solid
}
.redruled2-td {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px; BORDER-LEFT: 0px solid; BORDER-BOTTOM: #dd0000 2px solid
}
.redruled-td {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px; BORDER-LEFT: 0px solid; BORDER-BOTTOM: #dd0000 1px solid
}
.seventypercent {
	FONT-SIZE: 70%
}
.sixtypercent {
	FONT-SIZE: 60%
}
.sstop {
	FONT-SIZE: 18px; PADDING-BOTTOM: 1px; VERTICAL-ALIGN: bottom; COLOR: #ffffff; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; LETTER-SPACING: -1px; BACKGROUND-COLOR: #cc3333
}
.titletext {
	FONT-WEIGHT: normal; FONT-SIZE: 32px; VERTICAL-ALIGN: bottom; COLOR: #ffffff; FONT-FAMILY: Georgia, "Times New Roman", Times, serif; LETTER-SPACING: -1px; BACKGROUND-COLOR: #cc3333
}
.whiteruled2-td {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px; BORDER-LEFT: 0px solid; BORDER-BOTTOM: #ffffff 2px solid; BACKGROUND-COLOR: #eeeeee
}
.whiteruled-td {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px; BORDER-LEFT: 0px solid; BORDER-BOTTOM: #ffffff 1px solid; BACKGROUND-COLOR: #eeeeee
}

